#landingImg {
    object-fit: 'contain';
}

#mainContainer {
    border: 0px;
    margin: 0px;
    margin-right: 0px;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animated2{
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        visibility: visible;
    }

    to {
        transform: translateX(0%);
    }
}

.slideInRight {
    animation-name: slideInRight;
}